<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <h1>Welcome to my website</h1>
            <input class="form-control" type="text" id="user" placeholder="Enter a username">
            <button id="create-r" class="btn btn-primary">Create room</button>
        </div>
    </div>
</div>
<script>
    let uname = document.getElementById('user');
    let crt = document.getElementById('create-r');
    crt.addEventListener('click',()=>{
        let roomId = uname.value+Date.now();
        window.location = `/room/${roomId}`;
    })
</script>