<div class="container">
    <div class="row">
        <div class="col-7 mx-auto v-container">
            <div id="player"></div>
            <div class="controls">
                <div class="progressbar">
                    <div class="progress-f"></div>
                </div>
                <div class="buttons">
                    <button id="play-pause"></button>
                </div>
            </div>
            <input type="hidden" id="vtime">
        </div>
    </div>
</div>